/* Font perso */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* General */

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#main {
    margin: 0 50px 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 700;
}

.flex {
    display: flex;
}

.euros {
    font-weight: 600;
}


/* Header */

header {
    justify-content: space-between;
    margin-bottom: 35px;
}

.logo {
    flex: 1;
    padding-left: 30px;
}

nav li {
    padding-top: 40px;
}

nav a {
    padding: 40px 30px 0;
}

.signUp {}

nav li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}


/* Search bar */

.search {
    margin-bottom: 30px;
    padding: 0px 40px 0;
}

.search h2 {
    margin-bottom: 10px;
}

.search p {
    margin-top: 10px;
}

.searchBar {
    margin-bottom: 30px;
    height: 50px;
}

.containerMarker {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}

.containerMarker i {
    margin: auto;
    font-size: 1.2rem;
}

.searchInput {
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.searchInput::placeholder {
    color: #c2c2c2;
}

.searchButton {
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.searchButton i {
    display: none;
}


/* Filters */

.textFilter {
    align-self: center;
}

.filters {
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.filter {
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    padding-right: 20px;
    border-radius: 25px;
}

.filter span {
    padding-left: 12px;
}

.filter:hover {
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.filterList {
    flex-wrap: wrap;
    gap: 20px;
}

.iconFilter {
    position: relative;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.iconFilter i {
    margin: auto;
    color: #0065FC;
}

.iconInfo {
    height: 20px;
    width: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    margin-right: 10px;
}

.iconInfo i {
    margin: auto;
    font-size: .9rem;
    color: #0065FC;
}


/* Hebergements */

.hebergement-populaire-container {
    margin: 10px 40px;
    display: flex;
    gap: 20px;
}

.hebergement-populaire-container .hebergement {
    width: 70%;
    flex: 2;
}

.hebergement-populaire-container .populaire {
    width: 30%;
}

.hebergement,
.populaire {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    margin: 20px 0;
}

.hebergement>h2 {
    margin: 0;
}

.hebergement-Tab {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

.hebergement-Card {
    display: grid;
    height: 220px;
    grid-template-rows: 1fr 40%;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.hebergement-Card img {
    width: 100%;
    height: 126px;
    object-fit: cover;
}

.hebergement-Description {
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
}

.hebergement-Description p {
    margin: 0;
}

.hebergement-Note {
    word-spacing: -1ch;
}

.fa-star {
    font-size: .8rem;
    letter-spacing: 2px;
}

.blueStar {
    color: #0065FC;
}

.greyStar {
    color: #f2f2f2;
}

.voir-plus {
    font-weight: 700;
    font-size: 1.2rem;
}


/* Populaire */

.populaire-Icon {
    justify-content: space-between;
    align-items: baseline;
}

.populaire-Icon h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.populaire-Icon i {
    font-size: 1.5rem;
}

.populaire-Card {
    height: 145px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
}

.populaire-Card img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.populaire-Description {
    flex: 1;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.hebergement-Nom {
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}

.populaire-Description .hebergement-Nom+p {
    margin-top: 8px;
    margin-bottom: 0;
}


/* Activitéss */

.txtActiviteVille {
    padding: 0px 0px 0px 20px;
}

.txtActivite {
    padding: 0px 0px 0px 20px;
}

#activites {
    margin: 20px;
}

.activiteContainer .fondgris h1 {
    margin-left: 25px;
}

.activiteContainer .flex-container {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
    gap: 40px;
}

#ActiviteAMarseille {
    width: 70%;
    margin-right: 25px;
}

#ActiviteAMarseille .fondgris {
    width: 35%;
}

#ActiviteAMarseille {
    display: flex
}

#activites ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

#activites ul li {
    padding: 3px;
    background: #FFF;
    border-radius: 20px;
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
}

#activites ul li img {
    height: 100%;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activites .group-item {
    width: 50%;
    display: flex;
    gap: 40px;
}

#activites .group-item .columndouble,
#activites .group-item .column {
    width: 50%;
    gap: 40px;
}

#activites .group-item .column,
#activites .group-item .column .item {
    /* height: 100%; */
}

#activites .group-item .column .item .activiteimg img {
    height: 390px;
}

#activites .group-item .column {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1;
}

#activites .group-item .columndouble {
    display: flex;
    flex-direction: column;
    order: 2;
}

#activites .group-item .item {
    width: 100%;
    background: #FFF;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    cursor: pointer;
    transition: transform .2s;
}

.populaire-Tab a article:hover,
.hebergement-Tab a:hover,
#activites .group-item .item:hover {
    transform: scale(1.05);
}

#activites .group-item .item img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activiteimg.activiteimg-medium img {
    height: 160px;
}

.activiteimg.activiteimg-small img {
    height: 130px;
}


/* Footer */

footer {
    background-color: #F2F2F2;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
    width: calc(100% - 80px);
    gap: 20px;
    font-family: 'Raleway', Helvetica, sans-serif;
}

footer a {
    display: block;
}

footer>div {
    /* background-color: blue; */
    width: 33.33%;
}

footer .footerTitle {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    margin-bottom: 10px;
}

footer a:hover {
    font-weight: 600;
    color: #0065FC;
}


/* @media only screen and (max-width: 1280px) {

    .hebergement {
        flex: 1.5;
    }

    .hebergement-Tab {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        margin: 30px 0;
    } */


/* Tablet version */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* General */
    body {
        /* background-color: rosybrown; */
    }

    #main {
        margin: 0;
    }

    h2 {
        font-size: 1.4rem;
    }

    /* Header - Tablet */
    header {
        margin: 0;
        flex-direction: column;
    }

    .logo {
        margin-left: 20px;
        text-align: center;
        margin-bottom: 40px;
    }

    .signUp {
        align-self: flex-end;
        padding: 0;
        position: relative;
        bottom: 30px;
    }

    nav {
        order: 3;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a {
        padding: inherit;
    }

    nav li a:hover {
        border-top: none;
    }

    nav li:hover {
        border-bottom-color: #0065FC;
    }

    /* Search - Tablet */
    .search {
        margin: 30px 20px;
        padding: 0;
    }

    .searchInput {
        flex: 1;
    }

    .searchBar {
        margin: 35px 0 30px;
    }

    .searchButton {
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }

    .searchButton span {
        display: none;
    }

    .searchButton i {
        display: inline-block;
    }

    .filters {
        margin-bottom: 12px;
    }

    .textFilter {
        width: 100%;
    }

    /* Hebergements-Tablet*/
    .hebergement-populaire-container {
        flex-direction: column-reverse;
        margin: 40px 0;
    }

    .hebergement-populaire-container .hebergement {
        width: calc(100% - 40px);
        background: none;
    }

    .hebergement-populaire-container .populaire {
        width: calc(100% - 40px);
    }

    .hebergement-Card {
        height: 200px;
    }

    .hebergement-Tab {
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 15px;
    }

    .hebergement-Card img {
        height: 116px;
    }

    .hebergement-Description p {
        font-size: .9rem;
    }

    .hebergement-Card {
        display: grid;
        height: 220px;
        grid-template-rows: 1fr 40%;
        box-sizing: border-box;
        border: 5px solid #fff;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 7px #c1c1c1;
        width: 80%;
        margin-left: auto;
        margin-right: auto
    }

    /* Populaire-Tablet*/


    .populaire {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        border-radius: 0;
    }

    .populaire-Card {
        height: 150px;
        margin-bottom: 10px;
        border: 5px solid #fff;
        border-radius: 15px;
        box-shadow: 0 0 7px #c1c1c1;
        box-sizing: border-box;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .populaire-Icon i {
        font-size: 1.4rem;
    }

    .hebergement-Nom {
        font-size: 1rem !important;
    }

    .populaire-Description p {
        font-size: .9rem;
    }

    .populaire-Description {
        padding: 15px 10px 10px 20px;
    }

    .fa-star {
        font-size: .8rem !important;
        letter-spacing: 1px;
    }

    /* Activites - Tablet */
    .flex-container {
        flex-direction: column;
        width: 100%;
    }

    #activites {
        margin: 20px 0;
    }

    #activites .group-item {
        flex-direction: column;
        width: 100%;
    }

    #activites .group-item .item {
        width: 80%;
        background: #FFF;
        border-radius: 20px;
        -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
        box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
        cursor: pointer;
        transition: transform .2s;
        margin-left: auto;
        margin-right: auto
    }

    .flex-container,
    #activites .group-item .columndouble,
    #activites .group-item .column {
        width: 100%;
    }

    .activiteimg.activiteimg-medium img,
    .activiteimg.activiteimg-small img,
    #activites .group-item .column .item .activiteimg img {
        height: 120px
    }

    #activites .group-item .item img {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    /* Footer - Tablet */
    footer {
        flex-direction: column;
    }

    footer div {
        padding: 0;
        width: 100%;
    }
}


/* Mobile version */

@media only screen and (max-width: 767px) {

    /* General */
    body {
        /* background-color: rosybrown; */
    }

    #main {
        margin: 0;
    }

    h2 {
        font-size: 1.4rem;
    }

    /* Header - Mobile */
    header {
        margin: 0;
        flex-direction: column;
    }

    .logo {
        margin-left: 20px;
        text-align: center;
        margin-bottom: 40px;
    }

    .signUp {
        align-self: flex-end;
        padding: 0;
        position: relative;
        bottom: 30px;
    }

    nav {
        order: 3;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a {
        padding: inherit;
    }

    nav li a:hover {
        border-top: none;
    }

    nav li:hover {
        border-bottom-color: #0065FC;
    }

    /* Search - Mobile */
    .search {
        margin: 30px 20px;
        padding: 0;
    }

    .searchInput {
        flex: 1;
    }

    .searchBar {
        margin: 35px 0 30px;
    }

    .searchButton {
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }

    .searchButton span {
        display: none;
    }

    .searchButton i {
        display: inline-block;
    }

    .filters {
        margin-bottom: 12px;
    }

    .textFilter {
        width: 100%;
    }

    /* Hebergements-Mobile*/
    .hebergement-populaire-container {
        flex-direction: column-reverse;
        margin: 40px 0;
    }

    .hebergement-populaire-container .hebergement {
        width: calc(100% - 40px);
        background: none;
    }

    .hebergement-populaire-container .populaire {
        width: calc(100% - 40px);
    }

    .hebergement-Card {
        height: 200px;
    }

    .hebergement-Tab {
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 15px;
    }

    .hebergement-Card img {
        height: 116px;
    }

    .hebergement-Description p {
        font-size: .9rem;
    }

    /* Populaire-Mobile*/
    .populaire {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        border-radius: 0;
    }

    .populaire-Card {
        height: 150px;
        margin-bottom: 10px;
    }

    .populaire-Icon i {
        font-size: 1.4rem;
    }

    .hebergement-Nom {
        font-size: 1rem !important;
    }

    .populaire-Description p {
        font-size: .9rem;
    }

    .populaire-Description {
        padding: 15px 10px 10px 20px;
    }

    .fa-star {
        font-size: .8rem !important;
        letter-spacing: 1px;
    }

    /* Activites - Mobile */
    .flex-container {
        flex-direction: column;
        width: 100%;
    }

    #activites {
        margin: 20px 0;
    }

    #activites .group-item {
        flex-direction: column;
        width: 100%;
    }

    .flex-container,
    #activites .group-item .columndouble,
    #activites .group-item .column {
        width: 100%;
    }

    .activiteimg.activiteimg-medium img,
    .activiteimg.activiteimg-small img,
    #activites .group-item .column .item .activiteimg img {
        height: 120px
    }

    #activites .group-item .item img {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    /* Footer - Mobile */
    footer {
        flex-direction: column;
    }

    footer div {
        padding: 0;
        width: 100%;
    }
}