/* Font perso */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* General */

body{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

#main{
    margin: 0 50px 50px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-weight: 700;
}

.flex
{
    display: flex;
}

.euros{
    font-weight: 600;
}

/* Header */

header{
    justify-content: space-between;
    margin-bottom: 35px;
}

.logo{
    margin-top: 30px;
    flex: 1;
}

nav li{
    padding-top: 40px;
}

nav a{
    padding: 40px 30px 0;
}

.signUp{
    color: #0065FC;
    font-weight: 700;
    padding: 40px 40px 0;
}

nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}

/* Search bar */

.search{
    margin-bottom: 30px;
}

.search h2{
    margin-bottom: 10px;
}

.search p{
    margin-top: 10px;
}

.searchBar{
    margin-bottom: 30px;
    height: 50px;
}

.containerMarker{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}

.containerMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.searchInput{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.searchInput::placeholder{
    color: #c2c2c2;
}

.searchButton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.searchButton i{
    display: none;
}

/* Filters */

.textFilter{
    align-self: center;
}




/* Footer */

footer {
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
    width: calc(100% - 40px);
    gap: 20px;
    font-family: 'Raleway' Arial, Helvetica, sans-serif;
}

footer a {
    display: block;
}

footer>div {
    /* background-color: blue; */
    width: 33.33%;
}

footer .footerTitle {
    margin-bottom: 10px;
    font-weight: bold;
    list-style-type: none;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    font-weight: 600;
    color: #0065FC;
}


@media only screen and (max-width: 1280px){

    .hotels{
        flex: 1.5;
    }
    
    .hotelsTab{
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        margin: 30px 0;
    }

    .activityDescription{
        font-size: 1rem;
    }
}

/* Tablet version */
@media only screen and (max-width: 1024px){

    /* Search - Tablet */
    .filters{
        flex-direction: column;
    }

    .textFilter{
        align-self: auto;
        margin-bottom: 15px;
    }

    .filter{
        margin: 0 1rem 1rem 0;
    }

   

    /* Footer - Tablet */

    footer div{
        padding: 10px;
    }
}

/* Mobile version */
@media only screen and (max-width: 600px){

    /* General */

    #main{
        margin: 0;
    }

    h2{
        font-size: 1.4rem;
    }

    /* Header - Mobile */

    header{
        margin: 0;
        flex-direction: column;
    }

    .logo{
        margin-left: 20px;
    }

    .signUp{
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 30px;
    }

    nav{
        order:3;
    }
    
    nav ul{
        width: 100%;
    }

    nav li{
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a{
        padding: inherit;
    }

    nav li a:hover{
        border-top: none;
    }

    nav li:hover{
        border-bottom-color:#0065FC;
    }

    /* Search - Mobile */

    .search{
        margin: 30px 20px;
    }

    .searchInput{
        flex: 1;
    }

    .searchBar{
        margin: 35px 0 30px;
    }

    .searchButton{
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }

    .searchButton span{
        display: none;
    }

    .searchButton i{
        display: inline-block;
    }

    .filters{
        margin-bottom: 12px;
    }

    

    /* Footer - Mobile */

    footer{
        flex-direction: column;
        padding: 45px 30px;
    }

    footer div{
        padding: 0;
    }
}